.button{
	background-color: #49d496;
	border-radius: 5px;
	font-weight: 600;
	@media (any-hover: hover){
		&:hover{
			background-color: #5be0a4;
		}
	}
}
.button-delete{
	background-color: rgb(236, 66, 66);
	border-radius: 5px;
	font-weight: 600;
	@media (any-hover: hover){
		&:hover{
			background-color: rgb(192, 82, 82);
		}
	}
}